.library {
  color: #fff;
  height: 100%;
  width: 100%;
  display: grid;
  padding: 10px;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  overflow-y: scroll;

  .library-item {
    filter: drop-shadow(2px 2px 20px #4d788f);
    position: relative;
    transition: 200ms;
    position: relative;
    border: solid 3px #4d788f;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pop 500ms;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;

    &:hover {
      // transform: skew(2deg, 2deg);
      transform: perspective(800px);

      img {
        transform: scale(1.2);
      }

      .info {
        opacity: 1;
      }
    }

    .info {
      background: linear-gradient(45deg, #000, #268fd0ce);
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 3;
      transition: 200ms;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-weight: bold;
      }
    }

    img {
      transition: 200ms;
      width: 300px;
    }
  }

  .title {
    font-weight: bold;
    background-clip: text;
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 10px;
  }
  .total-play-time {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 20px;
    opacity: 0.5;
  }
}
