.app-layout {
  height: 100%;

  .app-router {
    background-color: #000;
    position: relative;
    height: 70%;

    .canvas-wrapper {
      pointer-events: none;
      position: absolute;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }
}
