@import "../Scss/theme";

.apps-grid {
  grid-template-columns: auto auto auto;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #fff;
  padding: 15px;
  display: grid;
  height: 100%;
  gap: 10px;

  canvas {
    background-color: #000;
    pointer-events: none;
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    width: 100%;
    height: 100%;
    inset: 0;
  }
}
