.nav-item {
  background: linear-gradient(45deg, black, #1f2355);
  border-radius: 10px;
  transition: 200ms;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  width: 150px;

  border: solid #3b404e;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;

  a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
  }

  &:hover {
    transform: translateY(-10px);
    border-color: #ffffff86;
  }
}
