.welcome-screen {
  background: linear-gradient(#000, #0e66a98a);
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  border-radius: 10px;
  cursor: grabbing;
  border: solid 2px #0f92c19e;

  color: #fff;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  h1,
  p {
    animation: pop-up 500ms;
    font-size: 17px;
  }

  .settings {
    animation: pop 500ms;
    border-radius: 10px;
    background: none;
    height: 300px;
    width: 80%;

    h1 {
      font-size: 20px;
      img {
        width: 20px;
      }
    }

    h3 {
      font-size: 15px;
    }
  }
  header {
    display: flex;
    gap: 20px;

    img {
      width: 40px;
    }
  }
  h1 {
    filter: drop-shadow(2px 3px 10px #000);
    font-size: 40px;
    span {
      gap: 10px;
      background: linear-gradient(45deg, #2a8aff, #98c8ff 50%);
      background-clip: text;
      color: transparent;
    }
  }

  button {
    transition: 200ms;
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 50px;
    right: 10px;
    bottom: 10px;

    border: solid 2px #fff;
    border-radius: 10px;
    background: linear-gradient(45deg, #000, #0b1437);
    color: #fff;
    opacity: 0.5;

    justify-content: space-around;
    align-items: center;
    display: flex;

    &:hover {
      opacity: 1;
    }
  }
}
